<div class="header grid grid-cols-12 border-b border-black h-full">
    <div class="flex justify-center col-start-2 col-end-3 col-span-1">
        <img class="w-16 h-16 m-3" src="../../../assets/images/logo_elca.png"
            alt="logo_elca">
    </div>
    <div class="flex items-center whitespace-nowrap">
        <h1 class="text-3xl font-semibold">Project Information Management</h1>
    </div>
    <div class="flex items-center col-start-8 col-end-10">
        <a>VI | EN</a>
    </div>
    <div
        class="items-center col-start-10 col-end-12 flex justify-around">
        <a class="text-blue-500">Help</a>
        <a>Login</a>
    </div>
</div>
